html {
    background: white;
}

td,th,h,tr {
    border: 1px #aaa solid;
}

td,th {
    padding: 2px;
}

th {
    background-color: #f2f2f2;
}

.h {
    margin: 1em 0;
    background-color: #f9f9f9;
    border-collapse: collapse;
    color: black;
}

.u {
    color: #000000;
    background-color: #d0d0d0
}
.c {
    border-radius:15px;
    padding-bottom:12px;
}



.main_page {
    margin: 10%;
    border: ridge;
    padding: 1%;
}

.visual_structure {
    font-size: 200%;
    color:white;
    text-align:center;
}

.box {
    box-sizing: border-box;
    text-align: center;
    width: 95%;
    margin: auto;
    border: solid black 1px;
}

.box1 {
    background: #26dae0;
}

.box2 {
    background: #4bb294;
}
.box3 {
    background: #2cc866;
}
.box4 {
    background: #c87b2c;
}

.link{
    color:white;
    text-decoration:none;
}

.link:hover{
    color:black;
    text-decoration:underline;
}

